.container {
	display: flex;
	gap: 100px;
}

.textContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.imgContainer {
	flex: 1;
	position: relative;
}

.subtitle {
	color: var(--btn);
}

.title {
	font-size: 54px;
}

.desc {
	color: whitesmoke;
	font-size: 20px;
	font-weight: 300;
}

.img {
	object-fit: contain;
	animation: floatAnimation 5s infinite ease-in-out;
}

.button {
	font-size: 22px;
	font-weight: 600;
	padding: 10px;
	min-width: 120px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

.linkBtn {
	color: var(--btn);
	text-decoration: underline;
}

@keyframes floatAnimation {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-35px);
	}
	100% {
		transform: translateY(0);
	}
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
		text-align: center;
	}
	.boxes {
		flex-direction: column;
		gap: 50px;
	}
}
