:root {
	--bg: #0d0c22;
	--bgSoft: #2d2b42;
	--text: white;
	--textSoft: #e5e5e5;
	--btn: #37c0ff;
	--border: 1px solid rgba(245, 245, 245, 0.288);

	--primary-color: #37c0ff;
	--secondary-color: rgb(235, 235, 235);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--bg);
	/* background: linear-gradient(120deg, #0d0c22 0%, #14123b 70%, #0d0c22 100%); */
	color: var(--text);
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	/* background-color: #2d2b42; */
	width: 1536px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 1536px) {
	.container {
		width: 1366px;
	}
}

@media (max-width: 1366px) {
	.container {
		width: 1280px;
	}
}

@media (max-width: 1280px) {
	.container {
		width: 1024px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 1024px) {
	.container {
		width: 768px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 640px;
	}
}

@media (max-width: 640px) {
	.container {
		width: 475px;
	}
}
@media (max-width: 475px) {
	.container {
		width: 380px;
	}
}

.errorContainer,
.loadingContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
